
<!DOCTYPE html>
<main lang="en">
<head>
    <title>Online burgers</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
<!-- Main heading -->
<h1>Welcome to BurgerOnline</h1>
<p>The number one burger site of the world</p>
        <section>
<h2>Select burger</h2>
<p>In this section you can order your burger</p>
        </section>
    <section>
<h2>Customer information</h2>
<p>Please provide us with your contact information so you will get your burger as fast as possible</p>
    </section>
    </main>
    <footer>&copy Online burgers</footer>
</body>
</html>
