
<!DOCTYPE html>
<main lang="en">
<head>
    <title>Online burgers</title>
    <meta charset="utf-8"/>
</head>
</main>
<body>

<!-- Main heading -->
<h1>Welcome to BurgerOnline</h1>
<p>The number one burger site of the world</p>
        <section>
<h2>Select burger</h2>
<p>In this section you can order your burger</p>
            <h3>The burnt burger</h3>
            <p><img src="https://bigshotjason.files.wordpress.com/2014/09/tumblr_nbqu1chhmk1spy5cho1_1280.jpg?w=584" alt="Burnt burger" height="200" width="300"></p>
        </section>
    <section>
<h2>Customer information</h2>
<p>Please provide us with your contact information so you will get your burger as fast as possible</p>
    </section>

    <footer>&copy Online burgers</footer>
</body>
</html>
