@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

 /* Change font for the body section */
body {
    font-family: arial;
    font-size: 125%;
    margin: 0 auto;
}
.allergy {
    color: #ff5500;
}
#gluten {
    text-transform: uppercase;
}
#lactose {
    text-transform: uppercase;
}
#almonds {
    text-transform: uppercase;
}
#burgerSection {
    background-color: black;
    color: white;
}
#customerSection {

}
button:hover {
    background-color: #54f542;
    cursor: pointer;
}
table {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
section {
    margin: 10px;
}
button {
    margin: 10px;
}