@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

 /* Change font for the body section */
body {
    font-family: arial;
    font-size: 125%;
}
.allergy {
    color: #ff5500;
}
#gluten {
    text-transform: uppercase;
}
#lactose {
    text-transform: uppercase;
}
#almonds {
    text-transform: uppercase;
}
#burgerSection {
    background-color: black;
    color: white;
}
#customerSection {

}